
    <h1>Hello, <%= @user.email%></h1>
    <p>
      You have successfully won an item:
      <%= @item.item %>.<br>
      <%= @item.description %>.<br>
    </p>
    <p>Thanks for bidding and have a great day!</p>
